.search-container {
  
}

.search-bar input {
  margin-top: 20px;
  width: 250px;
  height: 30px;
  border-radius: 15px;
  padding:6px 15px 6px 18px;
  border: 1px black;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  font-size: 15px;
  color: black;
}

*:focus {
  outline: none;
  box-shadow: none;
}